<div class="card-body">
  <div class="row mb-3">
    <div class="col-12 col-md-4 mb-2">
      <input type="text" class="form-control" [(ngModel)]="filterObj.item" placeholder="بحث بالاسم">
    </div>
    <div class="col-12 col-md-4 mb-2">
      <input type="number" class="form-control" [(ngModel)]="filterObj.suppliersId" placeholder="بحث بالمورد">
    </div>
    <div class="col-12 col-md-4 mb-2">
      <input type="number" class="form-control" [(ngModel)]="filterObj.catagorgsId" placeholder="بحث بالقسم">
    </div>
    <div class="col-12 text-center">
      <button class="btn btn-success btn-sm mt-2" (click)="filetrCandidates('')">بحث</button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover text-center">
      <thead class="table-dark">
        <tr>
          <th>الاسم</th>
          <th>السعر</th>
          <th>تفاصيل</th>
          <th>تعديل</th>
          <th>حذف</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of productslist">
          <td>{{pro.name}}</td>
          <td>{{pro.price}}</td>
          <td>
            <a class="btn btn-info btn-sm" [routerLink]="['/details/', pro.product_Id]">تفاصيل</a>
          </td>
          <td>
            <a class="btn btn-warning btn-sm" [routerLink]="['/edit', pro.product_Id]">تعديل</a>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="delete(pro.product_Id)">حذف</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row text-center mt-3">
    <div class="col-4">
      <button class="btn btn-warning">{{filterObj.pg}}</button>
    </div>
    <div class="col-4" *ngIf="filterObj.pg > 1">
      <button class="btn btn-primary" (click)="onPrevious()">السابق</button>
    </div>
    <div class="col-4" *ngIf="productslist.length >= 8">
      <button class="btn btn-success" (click)="onNext()">التالي</button>
    </div>
  </div>
</div>
